* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}   
body{
    background-color: #bbbb92;
    overflow-x: hidden;
    
}

.top-page{
    background: url(../Images/jungle.jpg);
    background-size: cover;
}
.header img {
    width:102px;
    height: 60px;
}

.header {
    position:absolute;
    display: flex;
    align-items: center;
    background-color: black;
    height: 60px;
    border-color: aliceblue;
    top:0;
    left: 0;
    width: 100%;
    z-index: 20;
}


/* navigation */
.nav {
    display: flex;
    list-style: none;
    box-sizing: border-box  ;
}

.nav li {
    margin: 40px;
    overflow: hidden;
}


.nav a {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav  a:hover {
    transform: translateY(-100%);
}

.connexion{
    position: absolute ;
    right: 50px;
    font-size: 15px;
    font-weight: 500;
    background-color: #2E8B57;
    text-decoration: none;
    
    padding: 10px;
    cursor: pointer;
    border-radius: 1.6rem;
    list-style-type: none ;
} 
.connexion a{
    font-size: 15px;
    color: white;
    display: contents;
    font-family: "FF Mark W05",Arial,sans-serif;
}
.connexion:hover{
    background-color: gray;
    transition-duration: 0.3s ;
}


/*footer*/
footer{
  
    position: absolute;
    top: 850px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 150px;
     border-top: solid 1px var(--border);
     flex-direction: column;
  
 }
 footer div{
     display: flex;
     flex-direction: row;
 }
 
 footer a{
     margin: 0 5px;
     font-size: 22px;
     border-radius: 5px;
     height: 37px;
     width: 37px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     color: var(--color);
     transition: .1s;
 }
 footer p{
     font-size: 10px;
 }